<% layout('/layouts/boilerplate') %>

<div class="row">
    <div class="col-lg-6 col-10 mx-auto offset-lg-3">
        <div class="card">
            <img src="<%= camp.image %>" class="card-img-top img" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= camp.title %></h5>
                <p class="card-text"><%= camp.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6>Location : <%= camp.location %></h6>
                </li>
                <li class="list-group-item">$ <%= camp.price %> / night </li>
            </ul>
            <div class="card-body">
                <div class="row g-1">
                    <div class="col-2">
                        <a href="/campgrounds" class="btn btn-outline-primary card-link w-100">Back</a>
                    </div>
                    <div class="col-2">
                        <a href="/campgrounds/<%= camp._id %>/edit" class="btn btn-primary card-link w-100">Edit</a>
                    </div>
                    <div class="col-2 offset-6">
                        <form method="POST" action="/campgrounds/<%=camp._id%>?_method=DELETE">
                            <button class="btn btn-danger card-link">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>