<% layout('/layouts/boilerplate') %>

<div id="map" style="width: 100%; height: 500px; color: black;"></div>

<div class="container">

    <h1>All Campgrounds</h1>

</div>
<% for (let camp of list) { %>
<div class="card m-2 my-5">
    <div class="row ">
        <div class="col-xl-8 ">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% camp.images.forEach((img,i) => { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <img class="img object-fit-cover" src="<%= img.url %>" alt="">
                    </div>
                    <% }) %>
                </div>
            </div>

        </div>
        <div class="col-xl-4 ">
            <div class="card-body">
                <h4> <%= camp.title %> </h4>
                <div class="description">
                    <p><%= camp.description %></p>
                </div>
                <p class="text-white-50"><%= camp.location %></p>
                <div class="button-container mt-auto">
                    <a class="btn btn-primary button-cs" href="/campgrounds/<%= camp._id %>">View</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
<% } %>

<script>
    const mapBoxToken = '<%- process.env.MAPBOX_API %>'; // Storing up the token rendered from env var
    // must send it with features formated, because need to be same as the data in Mapbox template
    const campgrounds = {features: <%- JSON.stringify(list) %>}; // Storing up all Campgrounds to send it to next script
</script>
<script src="/js/clusterMaps.js"></script>