<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= camp.title %></title>
</head>

<body>
    <h1><%= camp.title %></h1>
    <p>location : <%= camp.location %></p>

    <a href="/campgrounds">back</a>
    <a href="/campgrounds/<%= camp._id %>/edit">Edit</a>
    <form method="POST" action="/campgrounds/<%= camp._id %>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>

</html>